<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>DTS - Início</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header><h1>DTS - Diogo Tech Solutions</h1>
        <nav>
            <a href="/">Início</a>
            <a href="/sobre">Sobre Nós</a>
            <a href="/contacto">Contacto</a>
            <a href="/login">Login</a>
        </nav>
    </header>
    <main>
        <h2>Bem-vindo à DTS!</h2>
        <p>Somos especialistas em câmaras, redes informáticas e Wi-Fi.</p>
    </main>
</body>
</html>
